        <div class="footer">
            <div id="report" class="ui rounded wow animated wobble">
                <a href="tel:08145502505"><i class="fas fa-phone"></i></a>
            </div>
            <div class="info">
               <p style="color: #fff"> Micah Gidado <i class="fas fa-envelope"></i> melijah200@gmail.com</p>
               <p><a href="http://wa.me/2348136814497?text=Hello%20Micah"><i class="fab fa-whatsapp">+2348136814497</i></a></p>
               <p><a href="http://twitter.com/this_is_megxos"><i class="fab fa-twitter"></i>@this_is_megxos</a></p>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
    <style>
        .footer{
            width: 100%;
            margin-top: 50px;
            padding: 50px;
            background-color: black;
        }
        .footer p{
            font-size: .6em;
        }
    </style>
</html>