        <div class="footer" style="float: left;">
            <div id="report" class="ui rounded wow animated wobble">
                <a href="tel:080097000010"><i class="fas fa-phone"></i></a>
            </div>
            <div class="info">
                <p style="color: #fff"><strong>Wanna support my work?</strong></p>
                <div>
                    <div class="ui red label"><a style="color: #fff" href="https://ko-fi.com/micah"><img height=16 src="https://ko-fi.com/img/cup-border.png" alt="ko-fi"> Buy Micah a coffee</a></div>
                    <div style="opacity: 100%;" class="ui disabled blue label"><i class="fab fa-paypal"></i> melijah200@gmail.com </div>
                </div>
                <p style="color: #fff"><strong>Contact: </strong></p>
               <p style="color: #fff"> Micah Gidado <i class="fas fa-envelope"></i> melijah200@gmail.com</p>
               <p><a href="http://wa.me/2348136814497?text=Hello%20Micah"><i class="fab fa-whatsapp">+2348136814497</i></a></p>
               <p><a href="http://twitter.com/this_is_megxos"><i class="fab fa-twitter"></i>@this_is_megxos</a></p>
            </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
    <style>
        .footer{
            width: 100%;
            margin-top: 50px;
            padding: 50px;
            background-color: black;
        }
        .footer p{
            font-size: .6em;
        }
    </style>
</html>