<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info COVID19</title>
    <link rel="stylesheet" href="/styles/semantic.min.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/icon.min.css">
    <script src="https://kit.fontawesome.com/a06d2c416b.js" crossorigin="anonymous"></script>
    <script src = "/js/lib/jquery-3.4.1.js"></script>
    <script src="/js/lib/wow.min.js"></script>
</head>
<script>
  new WOW().init()
</script>
<body>
    <div class="ui inverted top fixed menu">
        <div class="ui inverted secondary pointing menu">
            <div class="item" style="font-weight: 800;font-size:1.2em;">infoCOVID19</div>
          <a class="active item" href="/">
            Home
          </a>
          <div id="hide">
            <a href="/report" class="item" title="report a suspected case" >
              <i class="fas fa-phone"></i> Report
            </a>
           <a class="item" href="/tips" >
            <i class="fab fa-gratipay"></i> Tips
            </a> 
           <a class="item" href="/diagnose" >
              <i class="fas fa-diagnoses    ">Diagnose</i>
            </a>
          </div>
            <p class="item"  id="menu_btn"><i class="fas fa-align-justify"></i></p>
        </div>
      </div>