<%- include("partials/header");  -%>
      <div class="ui container" style="margin-top: 80px;">
        <h1 style="font-size: 2.5em">Welcome to the COVID-19 information system.</h1>
        <h3>We're here to help you through  the COVID-19 wars</h3>
        <h4>Let's save the world!</h4>
        <div class="segment">
            <h2>First off, what's coronavirus (COVID-19)</h2>
            <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV).</p>
            <h2 style="text-align: center;">Symptoms</h2>
            <div class="ui stackable two column grid">
                <div class="row">
                    <div class="ui column raised segment">
                        <p>Common signs of infection include: </p>
                            <ul>
                                <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay=".5s"></i> Respiratory symptoms</li>
                                <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="1s"></i> Fever</li>
                                <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="1.5s"></i> Cough</li>
                                <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="2s"></i> Shortness of breath</li>
                                <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="2.5s"></i> Breathing difficulties</li>
                            </ul>
                    </div>
                    <div class="ui column raised segment">
                        <p>In more severe cases, infection can cause:</p>
                        <ul>
                            <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay=".5s"></i> Pneumonia</li>
                            <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="1s"></i>Severe acute respiratory syndrome</li>
                            <li><i class="fas fa-chevron-right wow fadeInLeft" data-wow-delay="1.5s"></i> Kidney failure</li>
                            <li><i class="fas fa-chevron-right wow fadeInLeft"data-wow-delay="2s"></i> Death</li>
                        </ul>
                    </div>
                    
            </div>
            </div>
        </div>
      </div>
<%- include("partials/footer"); -%>