<%- include("partials/header"); -%>

    <div class="ui container" style="margin-top: 80px;">
        <div class="ui raised segments wow slideInDown">
            <div class="ui red  segment">
                Call:
                <li><strong>NCDC: </strong> <a style="color: black" href="tel: 080097000010"><i class="fas fa-phone"></i> 080097000010</a></li>
                <li><strong>WHO: </strong> <a style="color: black" href="tel:+41 79 893 18 92"><i class="fas fa-phone"></i> +41 79 893 18 92</a></li>
            </div>
            <div class="ui segment">
                WhatsApp:
                <li><strong>WHO: </strong> <a style="color:black" href="http://wa.me/41798931892"><i class="fab fa-whatsapp"></i> +41 79 893 18 92</a></li>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>