<%-  include("partials/header");  -%>
    <div class="ui container" style="margin-top: 50px;">
        <h1>Standard recommendations to prevent infection spread include</h1>
        <div class="ui raised segments">
            <ul>
                <div class="ui segment">
                    <li><i class="wow fadeIn fas fa-check-circle" id="tick"></i><h2>Regular hand washing</h2>
                        <h4>Washing your hands regularly will help keep your hands clean to prevent contaminating food, surfaces or even getting the virus from your hands to mouth,  nose or eyes.</h4>
                        <div class="ui image">
                            <img  style="border-radius: 50%;"  src="/img/pair-of-hands-washing-using-soap-vector-19754569.jpg" alt="" height="200px" width="200px">
                        </div>
                    </li>
                </div>
                <div class="ui segment">
                    <li><i class="wow fadeIn  fas fa-check-circle" id="tick" data-wow-delay=".2s"></i><h2>Covering mouth and nose  when coughing and sneezing</h2>
                        <h4>You might have gotten in contact with someone who is already infected, couching or sneezing with your mouth or nose open may lead to the spread of the virus to others</h4>
                        <div class="ui image">
                            <img  style="border-radius: 50%;" src="/img/download.jpeg" alt="" height="200px" width="200px">
                        </div>
                </div>
            </li>
            <div class="ui segment">
                <li><i class="wow fadeIn  fas fa-check-circle" id="tick" data-wow-delay=".4s"></i><h2>Thoroughly cooking meat and eggs</h2>
                    <h4>Make sure you cook all meat and eggs properly to kill all viruses and bacteria</h4>
                    <div class="ui image">
                        <img  style="border-radius: 50%;" src="/img/cooking.png" alt="" height="200px" width="200px">
                    </div>
                </li>
            </div>
            <div class="ui segment">
                <li><i class="wow fadeIn  fas fa-check-circle" id="tick" data-wow-delay=".6s"></i><h4>Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.</h4> 
                    <div class="ui image circle">
                        <img   src="/img/two-people-shaking-hands-white-and-black-people-vector-11358594.jpg" alt="" height="200px" width="200px">
                    </div>
                </li>
            </div>
        </ul>
    </div>
    </div>

    <%- include("partials/footer"); -%>